In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fish.csv')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [3]:
pd.get_dummies(data=df, drop_first=True)

,Weight,Length1,Length2,Length3,Height,Width,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,0,0,0,0,0,0
1,290.0,24.0,26.3,31.2,12.4800,4.3056,0,0,0,0,0,0
2,340.0,23.9,26.5,31.1,12.3778,4.6961,0,0,0,0,0,0
3,363.0,26.3,29.0,33.5,12.7300,4.4555,0,0,0,0,0,0
4,430.0,26.5,29.0,34.0,12.4440,5.1340,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
154,12.2,11.5,12.2,13.4,2.0904,1.3936,0,0,0,0,1,0
155,13.4,11.7,12.4,13.5,2.4300,1.2690,0,0,0,0,1,0
156,12.2,12.1,13.0,13.8,2.2770,1.2558,0,0,0,0,1,0
157,19.7,13.2,14.3,15.2,2.8728,2.0672,0,0,0,0,1,0
158,19.9,13.8,15.0,16.2,2.9322,1.8792,0,0,0,0,1,0

In [4]:
X = df.drop(['Weight', 'Species'], axis=1)
y = df[['Weight']]

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [6]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

In [7]:
from sklearn.linear_model import LinearRegression

clf = LinearRegression()
clf.fit(X_train_std, y_train)

LinearRegression()

In [16]:
y_pred = clf.predict(X_test_std)

In [9]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import numpy as np

In [13]:
MSE = mean_squared_error(y_test, y_pred)
MSE

11116.23561014134

In [12]:
RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
RMSE

105.43356017009641

In [15]:
MAE = mean_absolute_error(y_test, y_pred)
MAE

82.28008151546645

## LogisticRegression

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import roc_auc_score

In [19]:
df = pd.read_csv('pima_indians_diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [21]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [28]:
X = df.drop(['Outcome'], axis=1)
y = df['Outcome']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2,random_state=10)

In [30]:
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

In [31]:
clf = LogisticRegression()
clf.fit(X_train_std, y_train)

LogisticRegression()

In [48]:
y_pred = clf.predict(X_test_std)
y_pred_score = clf.predict_proba(X_test_std)

In [32]:
df_coefs = pd.DataFrame(data=clf.coef_, columns=X.columns).T
df_coefs.columns = ['Coeffecient']
df_coefs

                          Coeffecient
Pregnancies                  0.510071
Glucose                      1.101216
BloodPressure               -0.216894
SkinThickness               -0.010610
Insulin                     -0.129035
BMI                          0.636238
DiabetesPedigreeFunction     0.322176
Age                          0.126741

In [49]:
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred_score[:,1]))

0.7551020408163265
0.6851851851851852
0.7184466019417475
0.8385185185185184

In [56]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [57]:
mm = MinMaxScaler()
X_train_sted = mm.fit_transform(X_train)
X_test_sted = mm.transform(X_test)

In [58]:
clf = KNeighborsClassifier()
clf.fit(X_train_sted, y_train)

KNeighborsClassifier()

In [61]:
y_proba = clf.predict_proba(X_test_sted)
y_pred = clf.predict(X_test_sted)

print(f'ROC-AUC test = {roc_auc_score(y_test, y_proba[:,1])}')

print(classification_report(y_test, y_pred))

ROC-AUC test = 0.7456481481481482
              precision    recall  f1-score   support

           0       0.78      0.77      0.77       100
           1       0.58      0.59      0.59        54

    accuracy                           0.71       154
   macro avg       0.68      0.68      0.68       154
weighted avg       0.71      0.71      0.71       154

In [62]:
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred_score[:,1]))

0.5818181818181818
0.5925925925925926
0.5871559633027522
0.8385185185185184

In [64]:
print(round(0.5818181818181818, 1))
print(round(0.5925925925925926, 1))
print(round(0.5871559633027522, 1))
print(round(0.7456481481481482, 1))

0.6
0.6
0.6
0.7